<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>

    <body>
        <a class="push_button" href="#">Send Push</a> 

        <script>
            window.onload = function() {
                var iframe = document.createElement('iframe');
                iframe.src = 'push:##sendTOApp##get';
                document.documentElement.appendChild(iframe);
                iframe.parentNode.removeChild(iframe);
                iframe = null;
            };

            function getToken(token) {
                $.get('/sendpush/' + token);
            }
        </script>
    </body>
</html>
