<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ static_url('site.css') }}" />
	<script type="text/javascript">
		$(function() {
			window_width = window.outerWidth;
			window_height = window.outerHeight;
		$(".chat_input").css("width", window_width);
		$(".text_input").css("width", (3*window_width) / 4);
		$(".submit_input").css("width", window_width / 5);
		});
	<script>
    </head>
    <body>
        <br />
        <br />
        <h1>Chat with {{ otheruser }}</h1>
        {% for t, msg in sorted(chat.messages.iteritems()) %}
            <p>{{ msg['author'] }}: {{ msg['msg'] }}</p>
        {% end %}

        <form class="chat_input" action="/chat/{{ otheruser }}" method="POST">
            <input class="text_input" type="text" name="msg" />
            <input class="submit_input" type="submit" value="send" />
        </form>
    </body>
</html>
