<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ static_url('site.css') }}" />
    </head>
    <body>
        <br />
        <br />
        <h1>Chat with {{ otheruser }}</h1>
        {% for t, msg in sorted(chat.messages.iteritems()) %}
            <p>{{ msg['author'] }}: {{ msg['msg'] }}</p>
        {% end %}

        <form class="chat_input" action="/chat/{{ otheruser }}" method="POST">
            <input class="text_input" type="text" name="msg" />
            <input class="submit_input" type="submit" value="send" />
        </form>
    </body>
</html>
