<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ static_url('site.css') }}" />
        
        
    </head>

    <body>
        <h1>Chat</h2>
        <a class="push_button" href="#">Login</a> 

        <script>
            window.onload = function() {
                var iframe = document.createElement('iframe');
                iframe.src = 'push:##sendToApp##get';
                document.documentElement.appendChild(iframe);
                iframe.parentNode.removeChild(iframe);
                iframe = null;
            };

            function getToken(token, user) {
                    $.post('/', 
                        {
                            username: user, 
                            device_token: token}, 
                        function() {
                            window.location = '/chat';
                    });
            }
        </script>
    </body>
</html>
